body{
    background-color: beige;
}

main{
    font-family:sans-serif;
    width:60%;
    margin:auto;
    padding:10px;
    background-color:#ffffff;
}

form{
    display:flex;
    width:100%;
    flex:1 1 100%;
    border:5px solid goldenrod;
}

li {
    display:flex;
    padding:10px;
    text-align:right;
}

li>input{
    flex:1;
}

li>label{
    flex:1;
    align-self:center;
}

ul {
    list-style-type:none;
}

#previewWindow{
    min-height:200px;
    border: 5px solid red;
}

.outputToCopy{
    height:120px;
    overflow:scroll;
    border:1px solid green;
}